<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ADMIN/IdeaProjects/ATB7XAPIAUTOMATIONPROGRAMS/src/test/java/com/thetestingacademy/CRUD/Lab026TestIntergrationrunusingtestng.java"><classes><class name="com.thetestingacademy.CRUD.Lab026TestIntergrationrunusingtestng"><methods><include name="update_booking_id"/><include name="verify_update_booking_idgetRequest"/><include name="delete_bookingid"/><include name="verify_delete_bookingidgetrequest"/></methods></class></classes></test></suite>